html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  margin: auto;
}

.main-header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-h1 {
  margin: 0 0 0 0.5em;
  font-size: 5em;
}

.navbar-brand h4 {
  color: white;
}

.msg-main {
  height: 568px;
  width: 90%;
  max-width: 768px;
  margin: auto;
  box-shadow: 0px 0px 10px lightgrey;
  border-radius: 5px;
  padding: 1px;
}

.user-buttons {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-chat {
  margin: 1em;
}

.display {
  display: flex;
  margin-bottom: 5px;
}

.msg-form {
  display: flex;
  justify-content: center;
}

.form-input {
  max-width: 70%;
  margin-right: 10px;
}

.users-table {
  height: 500px;
  width: 25%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px;
  padding: 0.5em;
}

.msg-table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 500px;
  width: 75%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px;
  padding: 0.5em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.msg-container {
  max-width: 80%;
  height: auto;
  margin: 0 0 1em 0;
  box-shadow: -0.3em 0.3em 0.5em grey;
}

.card-text {
  text-align: end;
  font-size: 0.75em;
}

.btn-info {
  color: white !important;
}
